/* import font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* for the color */
  --primary-color1: #dfcece;
  --primary-color2: #b16668;
  --primary-color3: #9393a3;
  --primary-color4: #414143;

  /* for the font */
  --font-family-primary: "Playfair Display", serif;
  --font-family-sekundary: "Work Sans", sans-serif;
}

.container {
  height: 100vh;
  background-color: #d0e0f0;
  display: flex;
  justify-content: center;
}

.layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-color1);
  border-radius: 10px 0 0 10px;
}

.layout_left .paraf1 {
  color: #414143;
  letter-spacing: 0.7px;
  text-align: center;
}

.layout_right {
  background: #fff;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #414143;
}

.layout_right .hello,
.layout_right .info {
  align-self: flex-start;
  color: #9393a3;
}

.layout_right .hello,
.layout_right .info {
  color: inherit;
}

.layout_right .info a {
  color: inherit;
}

.layout_right .info a:hover {
  color: coral;
  transition: 0.5s;
}

.layout_right span {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.layout_right span a {
  text-decoration: none;
  font-family: var(--font-family-sekundary);
}

.layout_right form {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-self: flex-start;
}

.layout_right input {
  width: 100%;
  color: inherit;
  font-weight: 400;
  border: 1.5px solid;
  border-radius: 5px;
}

.layout_right input::placeholder {
  padding-left: 5px;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #c5c5ca;
}

.layout_right label {
  font-weight: 600;
}

.layout_right .layout_remember_fpassword {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1%;
}

.layout_right .remember {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.remember label:hover,
.remember input:hover {
  cursor: pointer;
}

.remember label {
  order: 2;
}

.remember input {
  order: 1;
  background-color: #2196f3;
}

.fpassword a {
  text-decoration: none;
  color: #f44336;
}

.layout_right .btn_login {
  background: var(--primary-color2);
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
}

.layout_right .btn_login:hover {
  cursor: pointer;
}

.line_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.line_layout .line_right,
.line_layout .line_left {
  background: #767676;
  border-radius: 5px;
}

.layout_right .login_sosmed {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.login_sosmed .btn_google,
.login_sosmed .btn_fb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 0.5px solid #9393a3;
  background: transparent;
}

.login_sosmed .btn_google:hover,
.login_sosmed .btn_fb:hover {
  cursor: pointer;
}

/* ===================================================================================================== */
/* breakpoint device */
/* ===================================================================================================== */
/* for mobile l  */
@media (max-width: 425px) {
  div.layout .layout_right {
    height: 75vh;
  }

  .layout .layout_right .hello {
    font-size: 20px;
    margin-top: 50px;
  }

  .layout .layout_right .info {
    font-size: 14px;
  }

  .layout .layout_right form {
    gap: 15px;
    margin-top: 30px;
  }

  .layout_right form label {
    font-size: 12px;
  }

  .layout_right form input {
    height: 35px;
  }

  .layout .layout_right .layout_remember_fpassword {
    margin-left: 65px;
    margin-top: 10px;
  }

  .layout .layout_right .remember {
    width: 100px;
  }

  .layout .layout_right .btn_login {
    margin-left: 35px;
    margin-top: 10px;
  }

  .layout .layout_right .line_layout {
    margin-left: 7px;
  }

  .layout .layout_right .login_sosmed {
    margin-left: -45px;
  }

  div.layout .layout_right .btn_google,
  div.layout .layout_right .btn_fb {
    width: 138%;
    padding: 10px 60px;
    font-size: 75%;
  }
}

/* for mobile xl 2  */
@media (max-width: 618px) {
  .layout .layout_right {
    height: 85vh;
  }

  .layout_right .layout_remember_fpassword {
    margin-left: 35px;
  }

  .layout_right .btn_login {
    margin-left: 20px;
  }

  .line_layout {
    width: 80%;
    margin-left: -12px;
  }

  .layout .layout_right .login_sosmed {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .layout_right .login_sosmed .btn_google,
  .layout_right .login_sosmed .btn_fb {
    width: 110%;
    padding: 10px 30%;
    font-family: var(--font-family-sekundary);
  }
}

/* for mobile xl 1 */
@media (max-width: 767px) {
  .layout {
    position: relative;
    overflow: hidden;
  }
  .layout_left {
    width: 30rem; /* 320px*/
    height: 40vh;
    visibility: hidden;
  }

  /* layout right section */
  .layout_right {
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 10px;
  }

  .layout_right .hello {
    font-size: 35px;
    font-weight: 900;
    margin-left: 30px;
    margin-top: 48px;
    text-transform: capitalize;
  }

  .layout_right .info {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 25px;
    margin-left: 30px;
    width: 88%;
  }

  .layout_right span {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 30px;
    color: var(--primary-color3);
  }

  .layout_right span a {
    font-size: 14px;
    font-weight: 900;
    color: var(--primary-color4);
  }

  .layout_right form {
    margin-left: 30px;
    gap: 20px;
    margin-top: 30px;
  }

  .layout_right label {
    font-size: 16px;
  }

  .layout_right input {
    height: 50px;
    font-size: 14px;
    color: inherit;
  }

  .layout_right input::placeholder {
    font-size: 14px;
  }

  .layout_right .layout_remember_fpassword {
    padding: 5% 0;
    /* margin: 0 30px; */
  }

  .remember {
    width: 25%;
    height: 30px;
  }

  .remember label {
    font-size: 12px;
  }

  .remember input {
    width: 15px;
    height: 15px;
  }

  .fpassword a {
    font-size: 12px;
    margin-right: 46px;
  }

  .fpassword {
    margin-right: 20px;
  }

  .layout_right .btn_login {
    width: 85%;
    font-size: 14px;
    padding: 10px 0;
    margin-right: 30px;
    margin-top: -10px;
  }

  .line_layout {
    margin-top: 30px;
  }

  .line_layout .line_right,
  .line_layout .line_left {
    width: 185px;
    height: 3px;
  }

  .line_layout p {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: lowercase;
  }

  .layout_right .login_sosmed {
    width: 100%;
    margin-top: 30px;
    /* gap: 5px; */
    padding: 0 70px;
  }

  .login_sosmed .btn_google,
  .login_sosmed .btn_fb {
    padding: 10px 42px;
    font-size: 12px;
    width: 50%;
    margin-left: -7%;
    color: var(--primary-color3);
    font-family: var(--font-family-primary);
  }

  .btn_google img,
  .btn_fb img {
    width: 16px;
    height: 16px;
    margin-top: -3px;
  }
}

/* for tablet */
@media (min-width: 768px) {
  /* layout left section star */
  .layout_left {
    width: 40%; /* 450px*/
    height: 70%;
    visibility: visible;
  }

  .layout_left .logo {
    width: 80%;
    margin-top: 15%;
  }

  .layout_left .paraf1 {
    font-size: 20px;
    width: 78%;
    margin-top: 5%;
    line-height: 28px;
  }

  .layout_left .ilus {
    width: 90%;
    height: 65%;
    margin-top: -12%;
    /* background-color: #2196f3; */
  }

  .layout_left .paraf2 {
    align-self: flex-start;
    margin: 10% 30px;
    font-size: 85%;
  }

  /* layout right section star */
  .layout_right {
    width: 40%; /* 450px*/
    height: 70%;
    position: static;
    border-radius: 0 10px 10px 0;
  }

  .layout_right .hello {
    font-size: 30px;
    font-weight: 900;
    margin-left: 20px;
    margin-top: 20%;
    text-transform: capitalize;
    color: var(--primary-color4);
  }

  .layout_right .info {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 2px;
    line-height: 18px;
    margin-left: 20px;
    width: 90%;
    color: var(--primary-color3);
  }

  .layout_right span {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--primary-color4);
  }

  .layout_right span a {
    font-weight: 800;
  }

  .layout_right form {
    margin-left: 20px;
    gap: 15px;
    margin-top: 8%;
    width: 90%;
  }

  .layout_right label {
    font-size: 12px;
    color: var(--primary-color4);
  }

  .layout_right input {
    height: 35px;
    font-size: 14px;
    color: inherit;
  }

  .layout_right input::placeholder {
    font-size: 12px;
  }

  .layout_right .layout_remember_fpassword {
    padding: 5% 0;
    margin-left: -38px;
  }

  .remember {
    width: 165px;
    height: 30px;
  }

  .remember label {
    font-size: 10px;
    color: var(--primary-color3);
  }

  .remember input {
    width: 15px;
    height: 15px;
  }

  .fpassword a {
    font-size: 10px;
  }

  .layout_right .btn_login {
    width: 90%;
    font-size: 12px;
    padding: 10px 0;
    margin-top: -6px;
    margin-left: 10px;
  }

  .line_layout {
    margin-top: 20px;
  }

  .line_layout .line_right,
  .line_layout .line_left {
    width: 105px;
    height: 1px;
    color: var(--primary-color3);
  }

  .line_layout p {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: lowercase;
  }

  .login_sosmed {
    width: 90%;
    margin-top: 20px;
    gap: 10px;
    /* padding: 0 10px; */
  }

  .login_sosmed .btn_google,
  .login_sosmed .btn_fb {
    padding: 4% 6px;
    font-size: 9px;
    color: var(--primary-color3);
    font-family: var(--font-family-sekundary);
  }

  .btn_google img,
  .btn_fb img {
    width: 12px;
    height: 12px;
    margin-top: -3px;
    margin-right: 2px;
  }
}

/* for dekstop */
@media (min-width: 992px) {
  /* bagian layout kiri star */

  .layout_left {
    width: 40%; /* 720px*/
    height: 80%;
  }

  .layout_left .logo {
    width: 80%; /* 574px*/
    margin-top: 10%;
  }

  .layout_left .paraf1 {
    font-size: 145%;
    font-weight: 400;
    text-align: center;
    width: 70%;
    line-height: 30px;
    margin-top: 3%;
  }

  .layout_left .paraf2 {
    align-self: flex-start;
    margin: 10% 50px;
    font-size: 100%;
    letter-spacing: 3px;
    font-weight: 400;
  }

  .layout_left .ilus {
    width: 85%;
    height: 60%;
    margin-top: -12px;
  }
  /* bagian layout kiri end */

  /* ============================================================================= */

  /* bagian layout kanan star */
  .layout_right {
    width: 40%; /* 574px*/
    height: 80%;
    border-radius: 0 10px 10px 0;
  }

  .layout_right .hello {
    margin-top: 15%;
    /* margin-left: 42px; */
    font-size: 35px;
    font-weight: 900;
    font-family: var(--font-family-primary);
    text-transform: capitalize;
  }

  .layout_right .info {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    /* margin-left: 42px; */
    letter-spacing: 3px;
    width: 100%;
    line-height: 20px;
    font-family: var(--font-family-sekundary);
  }

  .layout_right span {
    font-size: 14px;
    margin-top: 28px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--primary-color3);
  }

  .layout_right span a {
    font-weight: 800;
    color: var(--primary-color4);
  }

  .layout_right form {
    gap: 15px;
    margin-top: 20px;
    /* margin-left: 42px; */
  }

  .layout_right input {
    height: 50px;
    padding-left: 5px;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: var(--font-family-sekundary);
  }

  .layout_right input::placeholder {
    font-size: 14px;
  }

  .layout_right label {
    font-size: 14px;
    font-family: var(--font-family-sekundary);
    /* letter-spacing: 2px; */
    font-weight: 400;
  }

  .layout_right .layout_remember_fpassword {
    padding: 10px 3%;
    margin-left: 4px;
  }

  .layout_right .remember {
    width: 141px;
    height: 50px;
  }

  .remember label {
    font-size: 12px;
    margin-right: 20px;
    color: var(--primary-color4);
  }

  .remember input {
    width: 16px;
    height: 16px;
  }

  .fpassword a {
    font-weight: 400;
    font-size: 12px;
    margin-right: 15px;
  }

  .layout_right .btn_login {
    /* width: 85%; */
    padding: 3% 0;
    font-size: 14px;
    /* margin-right: 33px; */
    margin-left: -3px;
  }

  .line_layout {
    margin-top: 30px;
    margin-left: -25px;
  }

  .line_layout .line_right,
  .line_layout .line_left {
    width: 130px;
    height: 1px;
  }

  .line_layout p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: lowercase;
  }

  .layout_right .login_sosmed {
    gap: 15px;
    /* height: 100px; */
    margin-top: 30px;
    /* margin-left: -16px; */
    width: 90%;
  }

  .login_sosmed .btn_google,
  .login_sosmed .btn_fb {
    padding: 4% 12px;
    font-size: 11px;
    border: 0.5px solid var(--primary-color3);
    color: var(--primary-color3);
    font-family: var(--font-family-sekundary);
  }

  .btn_google img,
  .btn_fb img {
    width: 16px;
    height: 16px;
    margin-top: -3px;
    margin-right: 5px;
  }
  /* bagian layout kanan end */
}

/* for laptop and desktop lebih besar */
@media (min-width: 1200px) {
  /* for layout left section */
  .layout_left {
    width: 40%;
    height: 85%;
  }

  .layout_left .logo {
    width: 80%;
    margin-top: 5%;
  }

  .layout_left .paraf1 {
    font-size: 165%;
    line-height: 30px;
    /* margin-top: 5%; */
  }

  .layout_left .ilus {
    margin-top: 15px;
  }

  /* for layout right section */
  .layout_right {
    width: 40%;
    height: 85%;
  }

  .layout_right .layout_remember_fpassword {
    margin-top: 5px;
    margin-left: 10px;
  }

  .layout_right .remember {
    width: 150px;
  }

  .layout_right .remember label {
    font-size: 14px;
  }

  .fpassword a {
    margin-right: 35px;
    font-size: 14px;
  }
  .layout_right .btn_login {
    margin-right: 50px;
    margin-left: 28px;
  }

  .line_layout {
    margin-left: -35px;
  }

  .line_layout .line_left,
  .line_layout .line_right {
    width: 190px;
  }

  .layout_right .login_sosmed {
    margin-left: -20px;
    width: 90%;
    gap: 15px;
  }

  .login_sosmed .btn_google,
  .login_sosmed .btn_fb {
    font-size: 14px;
    padding: 4% 30px;
    font-family: var(--font-family-sekundary);
  }

  .layout_right span {
    font-size: 16px;
    font-weight: 500;
    margin-top: 35px;
  }

  .layout_right span a {
    font-weight: 800;
  }
}
